USE [master]
GO
/****** Object:  Database [Cellshopcenter112024]    Script Date: 27/11/2024 09:04:29 ******/
CREATE DATABASE [Cellshopcenter112024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cellshopcenter112024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cellshopcenter112024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cellshopcenter112024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cellshopcenter112024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cellshopcenter112024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cellshopcenter112024]
GO
/****** Object:  UserDefinedTableType [dbo].[TipoDetalleCompra]    Script Date: 27/11/2024 09:04:30 ******/
CREATE TYPE [dbo].[TipoDetalleCompra] AS TABLE(
	[IdDetalleProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[MontoTotal] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TipoDetalleVenta]    Script Date: 27/11/2024 09:04:30 ******/
CREATE TYPE [dbo].[TipoDetalleVenta] AS TABLE(
	[IdDetalleProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NULL,
	[NombreApellido_1] [varchar](50) NULL,
	[NombreApellido_2] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaCompra] [datetime] NULL,
	[Observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdDetalleProducto] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NOT NULL,
	[MontoTotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProducto]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProducto](
	[IdDetalleProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdLote] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdModelo] [int] NULL,
	[IdColor] [int] NULL,
	[IdMedida] [int] NULL,
	[IdVersionn] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdDetalleProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[IdLote] [int] IDENTITY(1,1) NOT NULL,
	[Num_Lote] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medida]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medida](
	[IdMedida] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedida] [varchar](50) NOT NULL,
	[Dimensiones] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[IdModelo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInterno]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInterno](
	[Movimiento_Id] [int] IDENTITY(1,1) NOT NULL,
	[Movimiento_Descripcion] [varchar](40) NULL,
	[Movimiento_Fecha] [date] NULL,
	[Movimiento_Lote] [varchar](15) NULL,
	[Stock] [int] NULL,
	[Movimiento_Estado] [bit] NULL,
	[Movimiento_ProductoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Movimiento_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[EncargadoNombre] [varchar](50) NULL,
	[EncargadoApellido1] [varchar](50) NULL,
	[EncargadoApellido2] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tamaño]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tamaño](
	[IdTamaño] [int] IDENTITY(1,1) NOT NULL,
	[NombreTamaño] [varchar](50) NOT NULL,
	[Dimensiones] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTamaño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[MontoTotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versionn]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versionn](
	[IdVersionn] [int] IDENTITY(1,1) NOT NULL,
	[NombreVersionn] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVersionn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IdCategoria], [NombreCategoria], [Descripcion], [Estado]) VALUES (1, N'Electrónica', N'Dispositivos electrónicos', 1)
INSERT [dbo].[CATEGORIA] ([IdCategoria], [NombreCategoria], [Descripcion], [Estado]) VALUES (2, N'Ropa', N'Vestimenta y accesorios', 1)
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IdCliente], [NombreCliente], [NombreApellido_1], [NombreApellido_2], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (1, N'Juan', N'Pérez', N'González', N'juan.perez@example.com', N'123456789', 1, CAST(N'2024-11-26T09:17:03.433' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [NombreCliente], [NombreApellido_1], [NombreApellido_2], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (2, N'Maria', N'Lopez', N'Martínez', N'maria.lopez@example.com', N'987654321', 1, CAST(N'2024-11-26T09:17:03.433' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [NombreCliente], [NombreApellido_1], [NombreApellido_2], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (3, N'Carlos', N'Gómez', N'Sánchez', N'carlos.gomez@example.com', N'555666777', 1, CAST(N'2024-11-26T09:17:03.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [NombreColor], [Descripcion], [Estado]) VALUES (1, N'string', N'string', 1)
INSERT [dbo].[Color] ([IdColor], [NombreColor], [Descripcion], [Estado]) VALUES (2, N'Negro', N'Color negro clásico', 1)
INSERT [dbo].[Color] ([IdColor], [NombreColor], [Descripcion], [Estado]) VALUES (3, N'Blanco', N'Color blanco puro', 1)
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([IdCompra], [IdProveedor], [IdEmpleado], [MontoTotal], [FechaCompra], [Observaciones]) VALUES (1, 1, 1, CAST(275.00 AS Decimal(10, 2)), CAST(N'2024-11-26T06:14:05.960' AS DateTime), N'Compra de prueba')
INSERT [dbo].[Compra] ([IdCompra], [IdProveedor], [IdEmpleado], [MontoTotal], [FechaCompra], [Observaciones]) VALUES (2, 1, 1, CAST(4500.00 AS Decimal(10, 2)), CAST(N'2024-11-26T06:32:39.097' AS DateTime), N'Compra inicial para la tienda')
INSERT [dbo].[Compra] ([IdCompra], [IdProveedor], [IdEmpleado], [MontoTotal], [FechaCompra], [Observaciones]) VALUES (3, 2, 1, CAST(10000.00 AS Decimal(10, 2)), CAST(N'2024-11-26T06:33:02.607' AS DateTime), N'Compra para proyecto corporativo')
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdDetalleProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal]) VALUES (1, 1, 1, CAST(20.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), 10, CAST(200.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdDetalleProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal]) VALUES (2, 1, 2, CAST(15.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), 5, CAST(75.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdDetalleProducto], [PrecioCompra], [PrecioVenta], [Cantidad], [MontoTotal]) VALUES (3, 2, 1, CAST(500.00 AS Decimal(10, 2)), CAST(700.00 AS Decimal(10, 2)), 5, CAST(2500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleProducto] ON 

INSERT [dbo].[DetalleProducto] ([IdDetalleProducto], [IdProducto], [IdLote], [IdCategoria], [IdMarca], [IdModelo], [IdColor], [IdMedida], [IdVersionn], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, CAST(500.00 AS Decimal(10, 2)), CAST(700.00 AS Decimal(10, 2)), 1, CAST(N'2024-11-25T23:33:03.303' AS DateTime))
INSERT [dbo].[DetalleProducto] ([IdDetalleProducto], [IdProducto], [IdLote], [IdCategoria], [IdMarca], [IdModelo], [IdColor], [IdMedida], [IdVersionn], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (2, 2, 2, 2, 2, 2, 2, 2, 2, CAST(50.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), 1, CAST(N'2024-11-25T23:33:03.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[DetalleProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdDetalleProducto], [Cantidad], [PrecioVenta], [MontoTotal]) VALUES (1, 1, 1, 1, CAST(500.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdDetalleProducto], [Cantidad], [PrecioVenta], [MontoTotal]) VALUES (2, 1, 2, 2, CAST(300.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([IdEmpleado], [Nombres], [Apellidos], [Correo], [Direccion], [Telefono], [Genero], [FechaNacimiento], [Estado], [FechaRegistro]) VALUES (1, N'Juan', N'Pérez', N'juan.perez@mail.com', N'Av. Siempre Viva 123', N'555-1234', N'Masculino', CAST(N'1985-03-15' AS Date), 1, CAST(N'2024-11-25T23:33:03.273' AS DateTime))
INSERT [dbo].[EMPLEADO] ([IdEmpleado], [Nombres], [Apellidos], [Correo], [Direccion], [Telefono], [Genero], [FechaNacimiento], [Estado], [FechaRegistro]) VALUES (2, N'María', N'López', N'maria.lopez@mail.com', N'Calle Falsa 456', N'555-5678', N'Femenino', CAST(N'1990-07-25' AS Date), 1, CAST(N'2024-11-25T23:33:03.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([IdEmpresa], [NombreEmpresa], [Descripcion]) VALUES (1, N'TechCorp', N'Empresa proveedora de tecnología')
INSERT [dbo].[Empresas] ([IdEmpresa], [NombreEmpresa], [Descripcion]) VALUES (2, N'HealthCo', N'Distribuidor de equipos médicos')
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Lote] ON 

INSERT [dbo].[Lote] ([IdLote], [Num_Lote], [Estado], [FechaRegistro]) VALUES (1, N'Lote-001', 1, CAST(N'2024-11-25T23:33:03.303' AS DateTime))
INSERT [dbo].[Lote] ([IdLote], [Num_Lote], [Estado], [FechaRegistro]) VALUES (2, N'Lote-002', 1, CAST(N'2024-11-25T23:33:03.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lote] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([IdMarca], [Nombre], [Estado]) VALUES (1, N'Samsung', 1)
INSERT [dbo].[MARCA] ([IdMarca], [Nombre], [Estado]) VALUES (2, N'Nike', 1)
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[Medida] ON 

INSERT [dbo].[Medida] ([IdMedida], [NombreMedida], [Dimensiones], [Estado]) VALUES (1, N'stfff', N'zzzzzzg', 0)
INSERT [dbo].[Medida] ([IdMedida], [NombreMedida], [Dimensiones], [Estado]) VALUES (2, N'Mediano', N'40x30x20 cm', 1)
INSERT [dbo].[Medida] ([IdMedida], [NombreMedida], [Dimensiones], [Estado]) VALUES (3, N'Grande', N'60x50x40 cm', 1)
SET IDENTITY_INSERT [dbo].[Medida] OFF
GO
SET IDENTITY_INSERT [dbo].[MODELO] ON 

INSERT [dbo].[MODELO] ([IdModelo], [Nombre], [Estado]) VALUES (1, N'Galaxy S23', 1)
INSERT [dbo].[MODELO] ([IdModelo], [Nombre], [Estado]) VALUES (2, N'Air Max 2024', 1)
INSERT [dbo].[MODELO] ([IdModelo], [Nombre], [Estado]) VALUES (3, N'sara', 1)
SET IDENTITY_INSERT [dbo].[MODELO] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientoInterno] ON 

INSERT [dbo].[MovimientoInterno] ([Movimiento_Id], [Movimiento_Descripcion], [Movimiento_Fecha], [Movimiento_Lote], [Stock], [Movimiento_Estado], [Movimiento_ProductoId]) VALUES (1, N'Ingreso por compra', CAST(N'2024-11-26' AS Date), NULL, 15, 1, 1)
INSERT [dbo].[MovimientoInterno] ([Movimiento_Id], [Movimiento_Descripcion], [Movimiento_Fecha], [Movimiento_Lote], [Stock], [Movimiento_Estado], [Movimiento_ProductoId]) VALUES (2, N'Ingreso por compra', CAST(N'2024-11-26' AS Date), NULL, 65, 1, 2)
INSERT [dbo].[MovimientoInterno] ([Movimiento_Id], [Movimiento_Descripcion], [Movimiento_Fecha], [Movimiento_Lote], [Stock], [Movimiento_Estado], [Movimiento_ProductoId]) VALUES (3, N'Compra de productos', CAST(N'2024-11-25' AS Date), N'Lote-001', 10, 1, 1)
SET IDENTITY_INSERT [dbo].[MovimientoInterno] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Smartphone', N'Dispositivo móvil inteligente', 1)
INSERT [dbo].[PRODUCTO] ([IdProducto], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Zapatos Deportivos', N'Zapatos ideales para correr', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [IdEmpresa], [EncargadoNombre], [EncargadoApellido1], [EncargadoApellido2], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (1, 1, N'Carlos', N'Santos', N'García', N'carlos.santos@mail.com', N'555-9876', 1, CAST(N'2024-11-25T23:33:03.300' AS DateTime))
INSERT [dbo].[Proveedor] ([IdProveedor], [IdEmpresa], [EncargadoNombre], [EncargadoApellido1], [EncargadoApellido2], [Correo], [Telefono], [Estado], [FechaRegistro]) VALUES (2, 2, N'Ana', N'Martínez', N'Gómez', N'ana.martinez@mail.com', N'555-6543', 1, CAST(N'2024-11-25T23:33:03.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Tamaño] ON 

INSERT [dbo].[Tamaño] ([IdTamaño], [NombreTamaño], [Dimensiones], [Estado]) VALUES (1, N'sadd', N'sfhghgghing', 1)
INSERT [dbo].[Tamaño] ([IdTamaño], [NombreTamaño], [Dimensiones], [Estado]) VALUES (2, N'stringdds', N'stringfdggffggf', 1)
INSERT [dbo].[Tamaño] ([IdTamaño], [NombreTamaño], [Dimensiones], [Estado]) VALUES (3, N'stringsasa', N'striddddddng', 1)
SET IDENTITY_INSERT [dbo].[Tamaño] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdEmpleado], [FechaVenta], [Observaciones], [MontoTotal]) VALUES (1, 1, 1, CAST(N'2024-11-25T00:00:00.000' AS DateTime), N'Primera venta registrada', CAST(1100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET IDENTITY_INSERT [dbo].[versionn] ON 

INSERT [dbo].[versionn] ([IdVersionn], [NombreVersionn], [Descripcion], [Estado]) VALUES (1, N'sarea', N'string', 1)
INSERT [dbo].[versionn] ([IdVersionn], [NombreVersionn], [Descripcion], [Estado]) VALUES (2, N'idag', N'svvvvvg', 1)
INSERT [dbo].[versionn] ([IdVersionn], [NombreVersionn], [Descripcion], [Estado]) VALUES (3, N'idag', N'svvvvvg', 1)
SET IDENTITY_INSERT [dbo].[versionn] OFF
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT (getdate()) FOR [Movimiento_Fecha]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT ((1)) FOR [Movimiento_Estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [MontoTotal]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[EMPLEADO] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Empleado]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compra]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_DetalleProducto] FOREIGN KEY([IdDetalleProducto])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_DetalleProducto]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Categoria]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Color]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Lote]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCA] ([IdMarca])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Marca]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Medida] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[Medida] ([IdMedida])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Medida]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Modelo] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[MODELO] ([IdModelo])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Modelo]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Producto]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Versionn] FOREIGN KEY([IdVersionn])
REFERENCES [dbo].[versionn] ([IdVersionn])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Versionn]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdDetalleProducto])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[MovimientoInterno]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInterno_DetalleProducto] FOREIGN KEY([Movimiento_ProductoId])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[MovimientoInterno] CHECK CONSTRAINT [FK_MovimientoInterno_DetalleProducto]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Empresa]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[EMPLEADO] ([IdEmpleado])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarColor]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarColor]
    @IdColor INT,
    @NombreColor VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE Color
    SET NombreColor = @NombreColor,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdColor = @IdColor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarMarca]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarMarca]
@IdMarca INT,
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    UPDATE MARCA
    SET Nombre = @Nombre, Estado = @Estado
    WHERE idMarca = @IdMarca;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarModelo]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarModelo]
@IdModelo INT,
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    UPDATE MODELO
    SET Nombre = @Nombre, Estado = @Estado
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTamaño]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTamaño]
    @IdTamaño INT,
    @NombreTamaño VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Tamaño
    SET NombreTamaño = @NombreTamaño,
        Dimensiones = @Dimensiones,
        Estado = @Estado
    WHERE IdTamaño = @IdTamaño;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarVersion]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarVersion]
    @IdVersion INT,
    @NombreVersion VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE [Version]
    SET NombreVersion = @NombreVersion,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdVersion = @IdVersion;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarVersionn]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarVersionn]
    @IdVersionn INT,
    @NombreVersionn VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE Versionn
    SET NombreVersionn = @NombreVersionn,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdVersionn = @IdVersionn;
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarColor]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarColor]
    @NombreColor VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO Color (NombreColor, Descripcion, Estado)
    VALUES (@NombreColor, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarMarca]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarMarca]
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    INSERT INTO MARCA (Nombre, Estado)
    VALUES (@Nombre, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarModelo]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarModelo]
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    INSERT INTO MODELO (Nombre, Estado)
    VALUES (@Nombre, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarTamaño]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarTamaño]
    @NombreTamaño VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO Tamaño (NombreTamaño, Dimensiones, Estado)
    VALUES (@NombreTamaño, @Dimensiones, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarVersion]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarVersion]
    @NombreVersion VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO [Version] (NombreVersion, Descripcion, Estado)
    VALUES (@NombreVersion, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarVersionn]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarVersionn]
    @NombreVersionn VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO Versionn (NombreVersionn, Descripcion, Estado)
    VALUES (@NombreVersionn, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarColor]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarColor]
    @IdColor INT
AS
BEGIN
    UPDATE Color
    SET Estado = 0
    WHERE IdColor = @IdColor;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarMarca]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarMarca]
@IdMarca INT
AS
BEGIN
    DELETE FROM MARCA
    WHERE idMarca = @IdMarca;
END;


GO
/****** Object:  StoredProcedure [dbo].[EliminarModelo]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarModelo]
@IdModelo INT
AS
BEGIN
    DELETE FROM MODELO
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarTamaño]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarTamaño]
    @IdTamaño INT
AS
BEGIN
    UPDATE Tamaño
    SET Estado = 0
    WHERE IdTamaño = @IdTamaño;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVersion]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarVersion]
    @IdVersion INT
AS
BEGIN
    UPDATE [Version]
    SET Estado = 0
    WHERE IdVersion = @IdVersion;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVersionn]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarVersionn]
    @IdVersionn INT
AS
BEGIN
    UPDATE Versionn
    SET Estado = 0
    WHERE IdVersionn = @IdVersionn;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarColoresActivos]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarColoresActivos]
AS
BEGIN
    SELECT * FROM Color WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarMarcasActivas]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarMarcasActivas]
AS
BEGIN
    SELECT idMarca, Nombre, Estado
    FROM MARCA
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarModelosActivos]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarModelosActivos]
AS
BEGIN
    SELECT idModelo, Nombre, Estado
    FROM MODELO
    WHERE Estado = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[ListarTamañosActivos]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para Listar Tamaños Activos
CREATE PROCEDURE [dbo].[ListarTamañosActivos]
AS
BEGIN
    SELECT * FROM Tamaño WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarVersionesActivas]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVersionesActivas]
AS
BEGIN
    SELECT * FROM Versionn WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarColor]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarColor]
    @IdColor INT
AS
BEGIN
    SELECT * FROM Color WHERE IdColor = @IdColor AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarMarca]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarMarca]
@IdMarca INT
AS
BEGIN
    SELECT idMarca, Nombre, Estado
    FROM MARCA
    WHERE idMarca = @IdMarca;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarModelo]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarModelo]
@IdModelo INT
AS
BEGIN
    SELECT idModelo, Nombre, Estado
    FROM MODELO
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarTamaño]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarTamaño]
    @IdTamaño INT
AS
BEGIN
    SELECT * FROM Tamaño WHERE IdTamaño = @IdTamaño AND Estado = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[MostrarVersionn]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarVersionn]
    @IdVersionn INT
AS
BEGIN
    SELECT * FROM Versionn WHERE IdVersionn = @IdVersionn AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMedida]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMedida]
    @IdMedida INT,
    @NombreMedida VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Medida
    SET NombreMedida = @NombreMedida,
        Dimensiones = @Dimensiones,
        Estado = @Estado
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @IdProducto INT,
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE PRODUCTO
    SET Nombre = @Nombre,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE idProducto = @IdProducto;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarMedida]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarMedida]
    @NombreMedida VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO Medida (NombreMedida, Dimensiones, Estado)
    VALUES (@NombreMedida, @Dimensiones, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO PRODUCTO (Nombre, Descripcion, Estado)
    VALUES (@Nombre, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMedida]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMedida]
    @IdMedida INT
AS
BEGIN
    UPDATE Medida
    SET Estado = 0
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @IdProducto INT
AS
BEGIN
    DELETE FROM PRODUCTO
    WHERE idProducto = @IdProducto;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMedidasActivas]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMedidasActivas]
AS
BEGIN
    SELECT IdMedida, NombreMedida, Dimensiones, Estado
    FROM Medida
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarModelosActivos]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarModelosActivos]
AS
BEGIN
    SELECT idModelo, Nombre, Estado
    FROM MODELO
    WHERE Estado = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductosActivos]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductosActivos]
AS
BEGIN
    SELECT idProducto, Nombre, Descripcion, Estado
    FROM PRODUCTO
    WHERE Estado = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarMedida]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MostrarMedida]
    @IdMedida INT
AS
BEGIN
    SELECT IdMedida, NombreMedida, Dimensiones, Estado
    FROM Medida
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarProducto]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MostrarProducto]
    @IdProducto INT
AS
BEGIN
    SELECT idProducto, Nombre, Descripcion, Estado
    FROM PRODUCTO
    WHERE idProducto = @IdProducto;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertarCompra]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertarCompra]
    @IdProveedor INT,                -- ID del proveedor
    @IdEmpleado INT,                 -- ID del empleado que registra la compra
    @FechaCompra DATETIME,           -- Fecha de la compra
    @Observaciones NVARCHAR(255),    -- Observaciones de la compra
    @DetalleCompra TipoDetalleCompra READONLY, -- Tipo tabla para los detalles de la compra
    @Result BIT OUTPUT               -- Resultado de la operación
AS
BEGIN
    SET NOCOUNT ON;
    SET @Result = 1;  -- Inicialmente asume que la operación fue exitosa

    -- Comenzamos la transacción
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar en la tabla Compra (maestro)
        INSERT INTO Compra (IdProveedor, IdEmpleado, FechaCompra, Observaciones)
        VALUES (@IdProveedor, @IdEmpleado, @FechaCompra, @Observaciones);

        -- Obtener el IdCompra recién insertado
        DECLARE @IdCompra INT = SCOPE_IDENTITY();
        DECLARE @TotalCompra DECIMAL(18, 2) = 0;  -- Declaramos la variable para el total

        -- Insertar los detalles de la compra (detalle), calculando el MontoTotal para cada producto
        INSERT INTO DetalleCompra (IdCompra, IdDetalleProducto, Cantidad, PrecioCompra, PrecioVenta, MontoTotal)
        SELECT 
            @IdCompra, 
            IdDetalleProducto, 
            Cantidad, 
            PrecioCompra, 
            PrecioVenta, 
            CASE 
                WHEN Cantidad IS NULL THEN 0
                WHEN PrecioCompra IS NULL THEN 0
                ELSE Cantidad * PrecioCompra 
            END AS MontoTotal
        FROM @DetalleCompra;

        -- Calcular el total de la compra sumando los montos de todos los detalles
        SELECT @TotalCompra = SUM(MontoTotal)
        FROM DetalleCompra
        WHERE IdCompra = @IdCompra;

        -- Actualizar el campo MontoTotal en la tabla Compra con el total calculado
        UPDATE Compra
        SET MontoTotal = @TotalCompra
        WHERE IdCompra = @IdCompra;

        -- Insertar el movimiento de inventario (MovimientoInterno) correspondiente para cada detalle
        DECLARE @NumLote VARCHAR(50);
        DECLARE @IdDetalleProducto INT;
        DECLARE @Cantidad INT;

        -- Cursor para recorrer los detalles de compra
        DECLARE DetalleCursor CURSOR FOR
        SELECT IdDetalleProducto, Cantidad
        FROM @DetalleCompra;

        OPEN DetalleCursor;
        FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;

        -- Recorrer todos los detalles de la compra
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Obtener el lote asociado al producto
            SELECT @NumLote = L.Num_Lote
            FROM DetalleProducto DP
            JOIN Lote L ON DP.IdLote = L.IdLote
            WHERE DP.IdDetalleProducto = @IdDetalleProducto;

            -- Insertar el movimiento de inventario (MovimientoInterno)
            INSERT INTO MovimientoInterno (Movimiento_Descripcion, Movimiento_Fecha, Movimiento_Lote, Stock, Movimiento_ProductoId)
            VALUES ('Compra de productos', @FechaCompra, @NumLote, @Cantidad, @IdDetalleProducto);

            FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;
        END;

        CLOSE DetalleCursor;
        DEALLOCATE DetalleCursor;

        -- Confirmar la transacción
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        SET @Result = 0; -- Indicar que hubo un error
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertarVenta]    Script Date: 27/11/2024 09:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertarVenta]
    @IdCliente INT,                -- ID del cliente
    @IdEmpleado INT,               -- ID del empleado que registra la venta
    @FechaVenta DATETIME,          -- Fecha de la venta
    @Observaciones NVARCHAR(255),  -- Observaciones de la venta
    @DetalleVenta TipoDetalleVenta READONLY, -- Tipo tabla para los detalles de la venta
    @Result BIT OUTPUT             -- Resultado de la operación
AS
BEGIN
    SET NOCOUNT ON;
    SET @Result = 1;  -- Inicialmente asume que la operación fue exitosa

    -- Comenzamos la transacción
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar en la tabla Venta (maestro)
        INSERT INTO Venta (IdCliente, IdEmpleado, FechaVenta, Observaciones)
        VALUES (@IdCliente, @IdEmpleado, @FechaVenta, @Observaciones);

        -- Obtener el IdVenta recién insertado
        DECLARE @IdVenta INT = SCOPE_IDENTITY();
        DECLARE @TotalVenta DECIMAL(18, 2) = 0;  -- Declaramos la variable para el total

        -- Insertar los detalles de la venta (detalle), calculando el MontoTotal para cada producto
        INSERT INTO DetalleVenta (IdVenta, IdDetalleProducto, Cantidad, PrecioVenta, MontoTotal)
        SELECT 
            @IdVenta, 
            IdDetalleProducto, 
            Cantidad, 
            PrecioVenta, 
            CASE 
                WHEN Cantidad IS NULL THEN 0
                WHEN PrecioVenta IS NULL THEN 0
                ELSE Cantidad * PrecioVenta 
            END AS MontoTotal
        FROM @DetalleVenta;

        -- Calcular el total de la venta sumando los montos de todos los detalles
        SELECT @TotalVenta = SUM(MontoTotal)
        FROM DetalleVenta
        WHERE IdVenta = @IdVenta;

        -- Actualizar el campo MontoTotal en la tabla Venta con el total calculado
        UPDATE Venta
        SET MontoTotal = @TotalVenta
        WHERE IdVenta = @IdVenta;

        -- Insertar el movimiento de inventario (MovimientoInterno) correspondiente para cada detalle
        DECLARE @NumLote VARCHAR(50);
        DECLARE @IdDetalleProducto INT;
        DECLARE @Cantidad INT;

        -- Cursor para recorrer los detalles de venta
        DECLARE DetalleCursor CURSOR FOR
        SELECT IdDetalleProducto, Cantidad
        FROM @DetalleVenta;

        OPEN DetalleCursor;
        FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;

        -- Recorrer todos los detalles de la venta
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Obtener el lote asociado al producto
            SELECT @NumLote = L.Num_Lote
            FROM DetalleProducto DP
            JOIN Lote L ON DP.IdLote = L.IdLote
            WHERE DP.IdDetalleProducto = @IdDetalleProducto;

            -- Insertar el movimiento de inventario (MovimientoInterno)
            INSERT INTO MovimientoInterno (Movimiento_Descripcion, Movimiento_Fecha, Movimiento_Lote, Stock, Movimiento_ProductoId)
            VALUES ('Venta de productos', @FechaVenta, @NumLote, -@Cantidad, @IdDetalleProducto); -- Reducir el stock

            FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;
        END;

        CLOSE DetalleCursor;
        DEALLOCATE DetalleCursor;

        -- Confirmar la transacción
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        SET @Result = 0; -- Indicar que hubo un error
    END CATCH;
END;

GO
USE [master]
GO
