USE [master]
GO
/****** Object:  Database [Cellshopcenter112024]    Script Date: 3/12/2024 16:35:26 ******/
CREATE DATABASE [Cellshopcenter112024]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cellshopcenter112024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cellshopcenter112024.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cellshopcenter112024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cellshopcenter112024_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cellshopcenter112024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cellshopcenter112024]
GO
/****** Object:  UserDefinedTableType [dbo].[TipoCompraTipo]    Script Date: 3/12/2024 16:35:26 ******/
CREATE TYPE [dbo].[TipoCompraTipo] AS TABLE(
	[IdDetalleProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL,
	[IdCategoria] [int] NULL,
	[IdMarca] [int] NULL,
	[IdModelo] [int] NULL,
	[IdColor] [int] NULL,
	[IdMedida] [int] NULL,
	[IdVersionn] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TipoDetalleCompra]    Script Date: 3/12/2024 16:35:26 ******/
CREATE TYPE [dbo].[TipoDetalleCompra] AS TABLE(
	[IdDetalleProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioCompra] [decimal](18, 2) NULL,
	[PrecioVenta] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TipoDetalleVenta]    Script Date: 3/12/2024 16:35:26 ******/
CREATE TYPE [dbo].[TipoDetalleVenta] AS TABLE(
	[IdDetalleProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioVenta] [decimal](18, 2) NULL
)
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NULL,
	[NombreApellido_1] [varchar](50) NULL,
	[NombreApellido_2] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColaImpresion]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColaImpresion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[FechaSolicitud] [datetime] NULL,
	[FechaImpresion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaCompra] [datetime] NULL,
	[Observaciones] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdDetalleProducto] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Cantidad] [int] NOT NULL,
	[MontoTotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProducto]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProducto](
	[IdDetalleProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdLote] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdModelo] [int] NULL,
	[IdColor] [int] NULL,
	[IdMedida] [int] NULL,
	[IdVersionn] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdDetalleProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NOT NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [varchar](50) NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[idInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdDetalleProducto] [int] NOT NULL,
	[Movimiento_Id] [int] NOT NULL,
	[IdLote] [int] NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[IdLote] [int] IDENTITY(1,1) NOT NULL,
	[Num_Lote] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medida]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medida](
	[IdMedida] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedida] [varchar](50) NOT NULL,
	[Dimensiones] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[IdModelo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInterno]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInterno](
	[Movimiento_Id] [int] IDENTITY(1,1) NOT NULL,
	[Movimiento_Descripcion] [varchar](40) NULL,
	[Movimiento_Fecha] [date] NULL,
	[Movimiento_Lote] [varchar](15) NULL,
	[Stock] [int] NULL,
	[Movimiento_Estado] [bit] NULL,
	[Movimiento_ProductoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Movimiento_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[EncargadoNombre] [varchar](50) NULL,
	[EncargadoApellido1] [varchar](50) NULL,
	[EncargadoApellido2] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
	[MontoTotal] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versionn]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versionn](
	[IdVersionn] [int] IDENTITY(1,1) NOT NULL,
	[NombreVersionn] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVersionn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[DetalleProducto] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT (getdate()) FOR [Movimiento_Fecha]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[MovimientoInterno] ADD  DEFAULT ((1)) FOR [Movimiento_Estado]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [MontoTotal]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[EMPLEADO] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Empleado]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compra]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_DetalleProducto] FOREIGN KEY([IdDetalleProducto])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_DetalleProducto]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Categoria]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Color]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Lote]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MARCA] ([IdMarca])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Marca]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Medida] FOREIGN KEY([IdMedida])
REFERENCES [dbo].[Medida] ([IdMedida])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Medida]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Modelo] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[MODELO] ([IdModelo])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Modelo]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Producto]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProducto_Versionn] FOREIGN KEY([IdVersionn])
REFERENCES [dbo].[versionn] ([IdVersionn])
GO
ALTER TABLE [dbo].[DetalleProducto] CHECK CONSTRAINT [FK_DetalleProducto_Versionn]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdDetalleProducto])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([IdDetalleProducto])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([Movimiento_Id])
REFERENCES [dbo].[MovimientoInterno] ([Movimiento_Id])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Lote] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Lote]
GO
ALTER TABLE [dbo].[MovimientoInterno]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInterno_DetalleProducto] FOREIGN KEY([Movimiento_ProductoId])
REFERENCES [dbo].[DetalleProducto] ([IdDetalleProducto])
GO
ALTER TABLE [dbo].[MovimientoInterno] CHECK CONSTRAINT [FK_MovimientoInterno_DetalleProducto]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_Empresa]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Rol]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[EMPLEADO] ([IdEmpleado])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarColor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarColor]
    @IdColor INT,
    @NombreColor VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE Color
    SET NombreColor = @NombreColor,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdColor = @IdColor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarMarca]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarMarca]
@IdMarca INT,
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    UPDATE MARCA
    SET Nombre = @Nombre, Estado = @Estado
    WHERE idMarca = @IdMarca;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarModelo]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarModelo]
@IdModelo INT,
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    UPDATE MODELO
    SET Nombre = @Nombre, Estado = @Estado
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTamaño]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTamaño]
    @IdTamaño INT,
    @NombreTamaño VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Tamaño
    SET NombreTamaño = @NombreTamaño,
        Dimensiones = @Dimensiones,
        Estado = @Estado
    WHERE IdTamaño = @IdTamaño;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarVersionn]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarVersionn]
    @IdVersionn INT,
    @NombreVersionn VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE Versionn
    SET NombreVersionn = @NombreVersionn,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdVersionn = @IdVersionn;
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarColor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarColor]
    @NombreColor VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO Color (NombreColor, Descripcion, Estado)
    VALUES (@NombreColor, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarMarca]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarMarca]
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    INSERT INTO MARCA (Nombre, Estado)
    VALUES (@Nombre, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarModelo]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarModelo]
@Nombre NVARCHAR(50),
@Estado BIT
AS
BEGIN
    INSERT INTO MODELO (Nombre, Estado)
    VALUES (@Nombre, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarVersionn]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para Agregar una Versión
CREATE PROCEDURE [dbo].[AgregarVersionn]
    @NombreVersionn VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO Versionn (NombreVersionn, Descripcion, Estado)
    VALUES (@NombreVersionn, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarColor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarColor]
    @IdColor INT
AS
BEGIN
    UPDATE Color
    SET Estado = 0
    WHERE IdColor = @IdColor;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarMarca]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EliminarMarca]
@IdMarca INT
AS
BEGIN
    DELETE FROM MARCA
    WHERE idMarca = @IdMarca;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarModelo]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarModelo]
@IdModelo INT
AS
BEGIN
    DELETE FROM MODELO
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarTamaño]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarTamaño]
    @IdTamaño INT
AS
BEGIN
    UPDATE Tamaño
    SET Estado = 0
    WHERE IdTamaño = @IdTamaño;
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarVersionn]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para Eliminar una Versión (cambia Estado a 0)
CREATE PROCEDURE [dbo].[EliminarVersionn]
    @IdVersionn INT
AS
BEGIN
    UPDATE Versionn
    SET Estado = 0
    WHERE IdVersionn = @IdVersionn;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarColoresActivos]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para Listar Colores Activos
CREATE PROCEDURE [dbo].[ListarColoresActivos]
AS
BEGIN
    SELECT * FROM Color WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarMarcasActivas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarMarcasActivas]
AS
BEGIN
    SELECT idMarca, Nombre, Estado
    FROM MARCA
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarModelosActivos]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarModelosActivos]
AS
BEGIN
    SELECT idModelo, Nombre, Estado
    FROM MODELO
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarTamañosActivos]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para Listar Tamaños Activos
CREATE PROCEDURE [dbo].[ListarTamañosActivos]
AS
BEGIN
    SELECT * FROM Tamaño WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarVersionesActivas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVersionesActivas]
AS
BEGIN
    SELECT * FROM Versionn WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarColor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarColor]
    @IdColor INT
AS
BEGIN
    SELECT * FROM Color WHERE IdColor = @IdColor AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarMarca]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarMarca]
@IdMarca INT
AS
BEGIN
    SELECT idMarca, Nombre, Estado
    FROM MARCA
    WHERE idMarca = @IdMarca;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarModelo]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarModelo]
@IdModelo INT
AS
BEGIN
    SELECT idModelo, Nombre, Estado
    FROM MODELO
    WHERE idModelo = @IdModelo;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarTamaño]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarTamaño]
    @IdTamaño INT
AS
BEGIN
    SELECT * FROM Tamaño WHERE IdTamaño = @IdTamaño AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[MostrarVersionn]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarVersionn]
    @IdVersionn INT
AS
BEGIN
    SELECT * FROM Versionn WHERE IdVersionn = @IdVersionn AND Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMedida]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMedida]
    @IdMedida INT,
    @NombreMedida VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Medida
    SET NombreMedida = @NombreMedida,
        Dimensiones = @Dimensiones,
        Estado = @Estado
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @IdProducto INT,
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE PRODUCTO
    SET Nombre = @Nombre,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE idProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarMedida]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarMedida]
    @NombreMedida VARCHAR(50),
    @Dimensiones VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO Medida (NombreMedida, Dimensiones, Estado)
    VALUES (@NombreMedida, @Dimensiones, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @Nombre VARCHAR(50),
    @Descripcion VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO PRODUCTO (Nombre, Descripcion, Estado)
    VALUES (@Nombre, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AgregarUsuario]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Insertar un nuevo usuario en la tabla Usuarios
    INSERT INTO Usuarios (Username, PasswordHash, FechaCreacion)
    VALUES (@Username, @PasswordHash, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarCategoriaPorId]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar Categoria por ID
CREATE PROCEDURE [dbo].[SP_BuscarCategoriaPorId]
    @IdCategoria INT
AS
BEGIN
    SELECT * FROM Categoria WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarClientePorId]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar Cliente por ID
CREATE PROCEDURE [dbo].[SP_BuscarClientePorId]
    @IdCliente INT
AS
BEGIN
    SELECT * FROM Cliente WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarEmpresaPorId]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Buscar Empresa por ID
CREATE PROCEDURE [dbo].[SP_BuscarEmpresaPorId]
    @IdEmpresa INT
AS
BEGIN
    SELECT * FROM Empresas WHERE IdEmpresa = @IdEmpresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarProveedorPorId]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarProveedorPorId]
    @IdProveedor INT
AS
BEGIN
    SELECT * FROM Proveedor WHERE IdProveedor = @IdProveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCategoria]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCategoria]
    @IdCategoria INT
AS
BEGIN
    DELETE FROM Categoria WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCliente]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCliente]
    @IdCliente INT
AS
BEGIN
    DELETE FROM Cliente WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarEmpresa]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarEmpresa]
    @IdEmpresa INT
AS
BEGIN
    DELETE FROM Empresas WHERE IdEmpresa = @IdEmpresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMedida]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMedida]
    @IdMedida INT
AS
BEGIN
    UPDATE Medida
    SET Estado = 0
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @IdProducto INT
AS
BEGIN
    DELETE FROM PRODUCTO
    WHERE idProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProveedor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarProveedor]
    @IdProveedor INT
AS
BEGIN
    DELETE FROM Proveedor WHERE IdProveedor = @IdProveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCategoria]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarCategoria]
    @NombreCategoria VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    INSERT INTO Categoria (NombreCategoria, Descripcion, Estado)
    VALUES (@NombreCategoria, @Descripcion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCliente]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarCliente]
    @NombreCliente VARCHAR(50),
    @NombreApellido_1 VARCHAR(50),
    @NombreApellido_2 VARCHAR(50),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO Cliente (NombreCliente, NombreApellido_1, NombreApellido_2, Correo, Telefono, Estado)
    VALUES (@NombreCliente, @NombreApellido_1, @NombreApellido_2, @Correo, @Telefono, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarEmpresa]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarEmpresa]
    @NombreEmpresa VARCHAR(50),
    @Descripcion VARCHAR(250)
AS
BEGIN
    INSERT INTO Empresas (NombreEmpresa, Descripcion)
    VALUES (@NombreEmpresa, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarProveedor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarProveedor]
    @IdEmpresa INT,
    @EncargadoNombre VARCHAR(50),
    @EncargadoApellido1 VARCHAR(50),
    @EncargadoApellido2 VARCHAR(50),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(50),
    @Estado BIT
AS
BEGIN
    INSERT INTO Proveedor (IdEmpresa, EncargadoNombre, EncargadoApellido1, EncargadoApellido2, Correo, Telefono, Estado)
    VALUES (@IdEmpresa, @EncargadoNombre, @EncargadoApellido1, @EncargadoApellido2, @Correo, @Telefono, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCategorias]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarCategorias]
AS
BEGIN
    SELECT * FROM Categoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarClientes]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarClientes]
AS
BEGIN
    SELECT * FROM Cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarEmpresas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarEmpresas]
AS
BEGIN
    SELECT * FROM Empresas;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMedidasActivas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarMedidasActivas]
AS
BEGIN
    SELECT IdMedida, NombreMedida, Dimensiones, Estado
    FROM Medida
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductosActivos]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductosActivos]
AS
BEGIN
    SELECT idProducto, Nombre, Descripcion, Estado
    FROM PRODUCTO
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarProveedores]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarProveedores]
AS
BEGIN
    SELECT P.*, E.NombreEmpresa 
    FROM Proveedor P
    INNER JOIN Empresas E ON P.IdEmpresa = E.IdEmpresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCategoria]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ModificarCategoria]
    @IdCategoria INT,
    @NombreCategoria VARCHAR(50),
    @Descripcion VARCHAR(100),
    @Estado BIT
AS
BEGIN
    UPDATE Categoria
    SET NombreCategoria = @NombreCategoria,
        Descripcion = @Descripcion,
        Estado = @Estado
    WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCliente]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ModificarCliente]
    @IdCliente INT,
    @NombreCliente VARCHAR(50),
    @NombreApellido_1 VARCHAR(50),
    @NombreApellido_2 VARCHAR(50),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Cliente
    SET NombreCliente = @NombreCliente,
        NombreApellido_1 = @NombreApellido_1,
        NombreApellido_2 = @NombreApellido_2,
        Correo = @Correo,
        Telefono = @Telefono,
        Estado = @Estado
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarEmpresa]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ModificarEmpresa]
    @IdEmpresa INT,
    @NombreEmpresa VARCHAR(50),
    @Descripcion VARCHAR(250)
AS
BEGIN
    UPDATE Empresas
    SET NombreEmpresa = @NombreEmpresa,
        Descripcion = @Descripcion
    WHERE IdEmpresa = @IdEmpresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProveedor]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar Proveedor
CREATE PROCEDURE [dbo].[SP_ModificarProveedor]
    @IdProveedor INT,
    @IdEmpresa INT,
    @EncargadoNombre VARCHAR(50),
    @EncargadoApellido1 VARCHAR(50),
    @EncargadoApellido2 VARCHAR(50),
    @Correo VARCHAR(50),
    @Telefono VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Proveedor
    SET IdEmpresa = @IdEmpresa,
        EncargadoNombre = @EncargadoNombre,
        EncargadoApellido1 = @EncargadoApellido1,
        EncargadoApellido2 = @EncargadoApellido2,
        Correo = @Correo,
        Telefono = @Telefono,
        Estado = @Estado
    WHERE IdProveedor = @IdProveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarMedida]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MostrarMedida]
    @IdMedida INT
AS
BEGIN
    SELECT IdMedida, NombreMedida, Dimensiones, Estado
    FROM Medida
    WHERE IdMedida = @IdMedida;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarProducto]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Mostrar un producto por ID
CREATE PROCEDURE [dbo].[sp_MostrarProducto]
    @IdProducto INT
AS
BEGIN
    SELECT idProducto, Nombre, Descripcion, Estado
    FROM PRODUCTO
    WHERE idProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[spGenerarToken]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGenerarToken]
    @UserId INT,
    @Token NVARCHAR(255),
    @FechaExpiracion DATETIME
AS
BEGIN
    INSERT INTO Tokens (IdUsuario, Token, FechaExpiracion)
    VALUES (@UserId, @Token, @FechaExpiracion);
END
GO
/****** Object:  StoredProcedure [dbo].[spListarUsuarios]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarUsuarios]
AS
BEGIN
    -- Selecciona todos los usuarios, excluyendo información sensible como el PasswordHash
    SELECT 
        IdUsuario,
        Username,
        Email,
        FechaCreacion,
        UltimoLogin
    FROM 
        Usuarios;
END;
EXEC spListarUsuarios;
GO
/****** Object:  StoredProcedure [dbo].[spLoginUsuario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLoginUsuario]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    DECLARE @UserId INT;
    
    SELECT @UserId = IdUsuario
    FROM Usuarios
    WHERE Username = @Username AND PasswordHash = @PasswordHash;
    
    IF @UserId IS NOT NULL
    BEGIN
        UPDATE Usuarios
        SET UltimoLogin = GETDATE()
        WHERE IdUsuario = @UserId;
        
        SELECT @UserId AS IdUsuario;
    END
    ELSE
    BEGIN
        SELECT NULL AS IdUsuario;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarUsuario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRegistrarUsuario]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100)
AS
BEGIN
    INSERT INTO Usuarios (Username, PasswordHash, Email, FechaCreacion)
    VALUES (@Username, @PasswordHash, @Email, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[spVerificarToken]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spVerificarToken]
    @Token NVARCHAR(255)
AS
BEGIN
    DECLARE @UserId INT;
    
    SELECT @UserId = IdUsuario
    FROM Tokens
    WHERE Token = @Token AND FechaExpiracion > GETDATE();
    
    IF @UserId IS NOT NULL
    BEGIN
        SELECT @UserId AS IdUsuario;
    END
    ELSE
    BEGIN
        SELECT NULL AS IdUsuario;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ActualizarDetalleVenta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ActualizarDetalleVenta]
    @IdVenta INT,
    @IdDetalleProducto INT,
    @Cantidad INT,
    @PrecioVenta DECIMAL
AS
BEGIN
    UPDATE DetalleVenta
    SET Cantidad = @Cantidad,
        PrecioVenta = @PrecioVenta
    WHERE IdVenta = @IdVenta AND IdDetalleProducto = @IdDetalleProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ActualizarVenta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ActualizarVenta]
    @IdVenta INT,
    @IdCliente INT,
    @IdEmpleado INT,
    @Observaciones VARCHAR(255)
AS
BEGIN
    UPDATE Venta
    SET IdCliente = @IdCliente,
        IdEmpleado = @IdEmpleado,
        Observaciones = @Observaciones
    WHERE IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_AsignarUsuarioRol]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_AsignarUsuarioRol]
    @IdUsuario INT,
    @IdRol INT
AS
BEGIN
    SET NOCOUNT ON;

    
    IF NOT EXISTS (
        SELECT 1
        FROM UsuariosRoles
        WHERE IdUsuario = @IdUsuario AND IdRol = @IdRol
    )
    BEGIN
        INSERT INTO UsuariosRoles (IdUsuario, IdRol)
        VALUES (@IdUsuario, @IdRol);
    END
    ELSE
    BEGIN
        PRINT 'La relación entre el usuario y el rol ya existe.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_BuscarVentaPorId]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_BuscarVentaPorId]
    @IdVenta INT
AS
BEGIN
    -- Buscar la venta
    SELECT 
        v.IdVenta,
        v.IdCliente,
        v.IdEmpleado,
        v.Observaciones,
        v.FechaVenta,
        ISNULL(SUM(dv.Cantidad * dv.PrecioVenta), 0) AS MontoTotal
    FROM 
        dbo.Venta v
    LEFT JOIN 
        dbo.DetalleVenta dv ON v.IdVenta = dv.IdVenta
    WHERE 
        v.IdVenta = @IdVenta
    GROUP BY 
        v.IdVenta, v.IdCliente, v.IdEmpleado, v.Observaciones, v.FechaVenta;

    -- Buscar los detalles de la venta
    SELECT 
        dv.IdDetalleProducto,
        dv.Cantidad,
        dv.PrecioVenta
    FROM 
        dbo.DetalleVenta dv
    WHERE 
        dv.IdVenta = @IdVenta;
END;

GO
/****** Object:  StoredProcedure [dbo].[USP_CrearRol]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CrearRol]
    @Nombre NVARCHAR(50),
    @Descripcion NVARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Roles (Nombre, Descripcion)
    VALUES (@Nombre, @Descripcion);

    -- Conviértelo a INT explícitamente
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdRol;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_EliminarVenta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_EliminarVenta]
    @IdVenta INT
AS
BEGIN
    -- Eliminar los detalles de la venta
    DELETE FROM DetalleVenta WHERE IdVenta = @IdVenta;

    -- Eliminar la venta
    DELETE FROM Venta WHERE IdVenta = @IdVenta;
    
    -- Opcionalmente, puedes devolver el número de filas afectadas (si lo deseas)
    SELECT @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertarCompra]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertarCompra]
    @IdProveedor INT,                -- ID del proveedor
    @IdEmpleado INT,                 -- ID del empleado que registra la compra
    @FechaCompra DATETIME = NULL,    -- Fecha de la compra (si no se pasa, se usa GETDATE())
    @Observaciones NVARCHAR(255),    -- Observaciones de la compra
    @DetalleCompra TipoDetalleCompra READONLY, -- Tipo tabla para los detalles de la compra
    @Result BIT OUTPUT               -- Resultado de la operación
AS
BEGIN
    SET NOCOUNT ON;
    SET @Result = 1;  -- Inicialmente asume que la operación fue exitosa

    -- Si no se proporciona la fecha, se usa la fecha actual
    IF @FechaCompra IS NULL
    BEGIN
        SET @FechaCompra = GETDATE();
    END

    -- Comenzamos la transacción
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar en la tabla Compra (maestro)
        INSERT INTO Compra (IdProveedor, IdEmpleado, FechaCompra, Observaciones)
        VALUES (@IdProveedor, @IdEmpleado, @FechaCompra, @Observaciones);

        -- Obtener el IdCompra recién insertado
        DECLARE @IdCompra INT = SCOPE_IDENTITY();
        DECLARE @TotalCompra DECIMAL(18, 2) = 0;  -- Declaramos la variable para el total

        -- Insertar los detalles de la compra (detalle), calculando el MontoTotal para cada producto
        INSERT INTO DetalleCompra (IdCompra, IdDetalleProducto, Cantidad, PrecioCompra, PrecioVenta, MontoTotal)
        SELECT 
            @IdCompra, 
            IdDetalleProducto, 
            Cantidad, 
            PrecioCompra, 
            PrecioVenta, 
            CASE 
                WHEN Cantidad IS NULL THEN 0
                WHEN PrecioCompra IS NULL THEN 0
                ELSE Cantidad * PrecioCompra 
            END AS MontoTotal
        FROM @DetalleCompra;

        -- Calcular el total de la compra sumando los montos de todos los detalles
        SELECT @TotalCompra = SUM(MontoTotal)
        FROM DetalleCompra
        WHERE IdCompra = @IdCompra;

        -- Actualizar el campo MontoTotal en la tabla Compra con el total calculado
        UPDATE Compra
        SET MontoTotal = @TotalCompra
        WHERE IdCompra = @IdCompra;

        -- Insertar el movimiento de inventario (MovimientoInterno) correspondiente para cada detalle
        DECLARE @NumLote VARCHAR(50);
        DECLARE @IdDetalleProducto INT;
        DECLARE @Cantidad INT;

        -- Cursor para recorrer los detalles de compra
        DECLARE DetalleCursor CURSOR FOR
        SELECT IdDetalleProducto, Cantidad
        FROM @DetalleCompra;

        OPEN DetalleCursor;
        FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;

        -- Recorrer todos los detalles de la compra
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Obtener el lote asociado al producto
            SELECT @NumLote = L.Num_Lote
            FROM DetalleProducto DP
            JOIN Lote L ON DP.IdLote = L.IdLote
            WHERE DP.IdDetalleProducto = @IdDetalleProducto;

            -- Insertar el movimiento de inventario (MovimientoInterno)
            INSERT INTO MovimientoInterno (Movimiento_Descripcion, Movimiento_Fecha, Movimiento_Lote, Stock, Movimiento_ProductoId)
            VALUES ('Compra de productos', @FechaCompra, @NumLote, @Cantidad, @IdDetalleProducto);

            -- Actualizar el inventario sumando las cantidades compradas
            IF EXISTS (SELECT 1 FROM Inventario WHERE IdProducto = @IdDetalleProducto)
            BEGIN
                -- Si el producto ya existe en Inventario, sumamos la cantidad comprada
                UPDATE Inventario
                SET stonk = stonk + @Cantidad
                WHERE IdProducto = @IdDetalleProducto;
            END
            ELSE
            BEGIN
                -- Si el producto no existe en Inventario, insertamos una nueva fila
                INSERT INTO Inventario (IdProducto, Movimiento_Id, stonk)
                VALUES (@IdDetalleProducto, SCOPE_IDENTITY(), @Cantidad);
            END

            FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;
        END;

        CLOSE DetalleCursor;
        DEALLOCATE DetalleCursor;

        -- Confirmar la transacción
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        SET @Result = 0; -- Indicar que hubo un error
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertarUsuario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertarUsuario]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el correo electrónico ya está registrado
    IF EXISTS (
        SELECT 1
        FROM Usuarios
        WHERE Email = @Email
    )
    BEGIN
        PRINT 'El correo electrónico ya está registrado.';
        RETURN;
    END

    -- Insertar un nuevo usuario
    INSERT INTO Usuarios (Username, PasswordHash, Email)
    VALUES (@Username, @PasswordHash, @Email);

    PRINT 'Usuario registrado exitosamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertarVenta]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertarVenta]
    @IdCliente INT,
    @IdEmpleado INT,
    @Observaciones NVARCHAR(255),
    @DetalleVenta TipoDetalleVenta READONLY,
    @Result BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Result = 1;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar en la tabla Venta
        INSERT INTO Venta (IdCliente, IdEmpleado, FechaVenta, Observaciones)
        VALUES (@IdCliente, @IdEmpleado, GETDATE(), @Observaciones);

        DECLARE @IdVenta INT = SCOPE_IDENTITY();
        DECLARE @TotalVenta DECIMAL(18, 2) = 0;

        -- Insertar detalles de la venta
        INSERT INTO DetalleVenta (IdVenta, IdDetalleProducto, Cantidad, PrecioVenta, MontoTotal)
        SELECT 
            @IdVenta, 
            IdDetalleProducto, 
            Cantidad, 
            PrecioVenta, 
            ISNULL(Cantidad * PrecioVenta, 0) AS MontoTotal
        FROM @DetalleVenta;

        -- Calcular el total de la venta
        SELECT @TotalVenta = SUM(MontoTotal)
        FROM DetalleVenta
        WHERE IdVenta = @IdVenta;

        -- Actualizar la venta
        UPDATE Venta
        SET MontoTotal = @TotalVenta
        WHERE IdVenta = @IdVenta;

        -- Variables para inventario
        DECLARE @IdDetalleProducto INT;
        DECLARE @Cantidad INT;
        DECLARE @IdLote INT;
        DECLARE @StockActual INT;

        -- Cursor para detalles de venta
        DECLARE DetalleCursor CURSOR FOR
        SELECT IdDetalleProducto, Cantidad
        FROM @DetalleVenta;

        OPEN DetalleCursor;
        FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Obtener el lote asociado
            SELECT @IdLote = IdLote
            FROM DetalleProducto
            WHERE IdDetalleProducto = @IdDetalleProducto;

            -- Registrar movimiento
            INSERT INTO MovimientoInterno (Movimiento_Descripcion, Movimiento_Fecha, Movimiento_Lote, Stock, Movimiento_ProductoId)
            VALUES ('Venta de productos', GETDATE(), @IdLote, -@Cantidad, @IdDetalleProducto);

            -- Obtener stock actual
            SELECT @StockActual = Stock
            FROM Inventario
            WHERE IdDetalleProducto = @IdDetalleProducto AND IdLote = @IdLote;

            -- Actualizar inventario
            UPDATE Inventario
            SET Stock = @StockActual - @Cantidad
            WHERE IdDetalleProducto = @IdDetalleProducto AND IdLote = @IdLote;

            FETCH NEXT FROM DetalleCursor INTO @IdDetalleProducto, @Cantidad;
        END;

        CLOSE DetalleCursor;
        DEALLOCATE DetalleCursor;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Result = 0;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarCompras]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ListarCompras]
AS
BEGIN
    -- Declarar variables
    DECLARE @Result TABLE (
        IdCompra INT,
        IdProveedor INT,
        FechaCompra DATETIME,
        MontoTotal DECIMAL(18,2),
        Observaciones NVARCHAR(255),
        Detalles NVARCHAR(MAX)
    );

    -- Insertar los resultados de la tabla Compras
    INSERT INTO @Result (IdCompra, IdProveedor, FechaCompra, MontoTotal, Observaciones)
    SELECT 
        C.IdCompra,
        C.IdProveedor,
        C.FechaCompra,
        C.MontoTotal,
        C.Observaciones
    FROM Compras C;

    -- Agregar los detalles de cada compra
    UPDATE R
    SET Detalles = (
        SELECT STRING_AGG(
                CONCAT('Producto: ', P.Nombre, ', Cantidad: ', D.Cantidad, ', Precio: ', D.PrecioCompra),
                ' | '
            )
        FROM DetalleCompra D
        JOIN Productos P ON D.IdProducto = P.IdProducto
        WHERE D.IdCompra = R.IdCompra
        FOR XML PATH(''), TYPE
    )
    FROM @Result R;

    -- Devolver el resultado
    SELECT * FROM @Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarInventario]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ListarInventario]
AS
BEGIN
    SET NOCOUNT ON;

    -- Lista los inventarios con detalles de producto, movimiento y lote
    SELECT 
        i.idInventario,
        i.IdDetalleProducto,
        i.Movimiento_Id,
        i.IdLote,
        i.Stock
    FROM 
        dbo.Inventario i  -- Asegúrate de usar el esquema correcto
    ORDER BY 
        i.idInventario DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarRoles]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ListarRoles]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdRol,
        Nombre,
        Descripcion
    FROM 
        Roles
    ORDER BY 
        Nombre ASC; -- Ordenar alfabéticamente por Nombre
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarUsuariosRoles]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ListarUsuariosRoles]
AS
BEGIN
    SET NOCOUNT ON;

    -- Listar usuarios y sus roles
    SELECT 
        u.IdUsuario,
        u.Username,
        u.Email,
        r.IdRol,
        r.Nombre AS RolNombre,
        r.Descripcion AS RolDescripcion
    FROM 
        Usuarios u
    INNER JOIN 
        UsuariosRoles ur ON u.IdUsuario = ur.IdUsuario
    INNER JOIN 
        Roles r ON ur.IdRol = r.IdRol
    ORDER BY 
        u.IdUsuario, r.Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarVentas]    Script Date: 3/12/2024 16:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ListarVentas]
AS
BEGIN
    SET NOCOUNT ON;

    -- Lista las ventas principales
    SELECT 
        v.IdVenta,
        v.IdCliente,
        v.IdEmpleado,
        v.Observaciones,
        v.MontoTotal,
        v.FechaVenta
    FROM 
        dbo.Venta v  -- Asegúrate de usar el esquema correcto
    ORDER BY 
        v.FechaVenta DESC;

    -- Lista los detalles de venta correspondientes
    SELECT 
        d.IdDetalleProducto,
        d.IdVenta,
        d.Cantidad,
        d.PrecioVenta
    FROM 
        dbo.DetalleVenta d  -- Asegúrate de usar el esquema correcto
    ORDER BY 
        d.IdVenta, d.IdDetalleProducto;
END
GO
USE [master]
GO
